extends layout

block content
  div.container
      div.jumbotron
          input.form-control#q
      center
        div#result
        div#loader.modal.fade
            div.windows8
                div.wBall#wBall_1
                    div.wInnerBall
                div.wBall#wBall_2
                    div.wInnerBall
                div.wBall#wBall_3
                    div.wInnerBall
                div.wBall#wBall_4
                    div.wInnerBall
                div.wBall#wBall_5
                    div.wInnerBall